<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4zSER1QAFUfCARFks63RKhblmJVObaPE</string>
	<key>GCM_SENDER_ID</key>
	<string>1073487307227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innovision.tripsync</string>
	<key>PROJECT_ID</key>
	<string>location-tracker-b045b</string>
	<key>STORAGE_BUCKET</key>
	<string>location-tracker-b045b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073487307227:ios:71a21d74c3e6bfda1387fe</string>
</dict>
</plist>